<!-- <mat-grid-list cols="4" rowHeight="1:1">
    <mat-grid-tile colspan="2">
        <mat-card class="example-card">
            <mat-card-header>
              
              <mat-card-title> % TMN</mat-card-title>
              <mat-card-subtitle>Tempo médio de Navegação</mat-card-subtitle>
            </mat-card-header>
            
            <mat-card-content>
                <div id="chartdiv" style="padding-top: 30px;"></div>
            </mat-card-content>
          </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-grid-tile colspan="2">
            <mat-card class="example-card">
                <mat-card-header>
                  
                  <mat-card-title> % TMN</mat-card-title>
                  <mat-card-subtitle>Tempo médio de Navegação</mat-card-subtitle>
                </mat-card-header>
                
                <mat-card-content>
                    <div id="chartAtendidas"></div>
                </mat-card-content>
              </mat-card>
        </mat-grid-tile>
    </mat-grid-tile>
  </mat-grid-list> -->

  <mat-grid-list cols="3" rowHeight="2:2">
    <mat-grid-tile>
        <mat-card class="example-card">
            <mat-card-header>
              
              <mat-card-title>TMN</mat-card-title>
              <mat-card-subtitle>Tempo médio de Navegação</mat-card-subtitle>
            </mat-card-header>
            
            <mat-card-content>
                <div id="chartdiv" style="padding-top: 30px;"></div>
            </mat-card-content>
          </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-card class="example-card">
            <mat-card-header>
              
              <mat-card-title> Ligações Atendidas</mat-card-title>
              <mat-card-subtitle>Quantidade de ligações semanais</mat-card-subtitle>
            </mat-card-header>
            
            <mat-card-content>
                <div id="chartAtendidas" style="padding-top: 30px;"></div>
            </mat-card-content>
          </mat-card>
    </mat-grid-tile>
    
    <mat-grid-tile>
        <mat-card class="example-card">
            <mat-card-header>
              
              <mat-card-title> Ligações Transferidas</mat-card-title>
              <mat-card-subtitle>Quantidade de ligações semanais</mat-card-subtitle>
            </mat-card-header>
            
            <mat-card-content>
                <div id="chartTransferidas" style="padding-top: 30px;"></div>
            </mat-card-content>
          </mat-card>
    </mat-grid-tile>
  </mat-grid-list>

