.card-title {
    /* background-image: url("../../../assets/img/favicon-96x96.png"); */
    background-position: center;
    background-repeat: no-repeat;
    height: 60px;
    width: 100%;
    
}

:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-flex {
    align-items: center;
}

:host ::ng-deep .mat-form-field-label {
    transform: translateY(-1.2em) scale(0.75) !important;
}
